.LoginForm {
    display: flex;
    flex-direction: column;
    width:300px;
    margin: auto;
    margin-top : 5%;
}

.LoginForm h1 {
    margin: 5px;
    padding: 5px;
}

a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}



